
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="login_frame">
        <div style="font-size:28px;">Moderator Sign in</div>
        <form method="post" action="login.js">
     
            <p><label class="label_input">User Name</label><input type="text" id="username" class="text_field"/></p>
            <p><label class="label_input">Password</label><input type="text" id="password" class="text_field"/></p>
     //if we need an extra database what structure u wanna use? what about MongoDB
            <div id="login_control">
                <a href="https://moderator-page.herokuapp.com/" target="_blank" style="margin-left:80px;height:30px;width:45px;background-color:red;display:inline-block;">Login</a>
                <a id="forget_pwd" href="forget_pwd.html">Forgot password？</a>
            </div>
        </form>
    </div>
    
</body>
</html>



